:root {
    --nav: #000080;
    --header: #0d1b2a;
    --ciano: #4fc3f7;
    --white: #fff;
    --black: #000;
    --data: #777;
    --gradienteAzul: linear-gradient(to right, #05008b, #0700d7);
    --gradienteCinza: linear-gradient(to right, #efefef, #a3a3a3);
    --gradienteSaibamais: linear-gradient(to right, #64a8fb, #0700d9);

    --caixa: #e9e9e9;
    --cinza: #b5b4b4;

    --ff: "Poppins", sans-serif;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url("../img/parte-central.png") no-repeat center center/cover;
  min-height: 100vh;
}
/* ---------- HEADER ---------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav);
    padding: 10px 40px;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: var(--ciano);
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions input {
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}


/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--gradienteCinza);
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.language-selector:hover {
  background: var(--gradienteSaibamais);
  color: var(--black);
  box-shadow: 0 2px 15px var(--white);
}

.lang-icon {
  font-size: 1.3rem;
  color: var(--black);
  transition: color 0.3s;
}

.language-selector:hover .lang-icon {
  background: var(--gradienteCinza);
}

.lang-select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  color: var(--black);
  font-size: 0.95rem;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 6px;
  width: 60px;
}

.language-selector:hover .lang-select {
  color: var(--white);
}

/* Seção principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 40px;
}

.container {
    display: flex;
    background:var(--white);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 100%;
    margin-top: 70px;
    justify-content: center;
}

.image img {
    width: 500px;
    height: 100%;
    object-fit: cover;
}

.form-box {
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box h2 {
    background-color: var(--nav);
    color: var(--white);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.2rem;
}
h3 {
   font-family: var(--ff);}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.pag img {
    position: absolute;
    left: 15px;               
    width: 40px;
    height: 40px;
}

.pag {
    position: relative;       
    width: 350px;
    height: 80px;
    background-color: transparent;
    text-align: center;      
    display: flex;
    align-items: center;      
    justify-content: center;  
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
   
}

.concluido{
    background: var(--gradienteAzul);
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-family: var(--ff);
    box-shadow: 0 5px 15px var(--caixa);
    width: 250px;
}

.concluido a {
    text-decoration: none;
    color: var(--white);
}

.concluido a:hover {
    color: var(--black);
}

button:hover {
    background: var(--gradienteCinza);
    color: var(--black);
    box-shadow: 0 5px 15px var(--black);
    color: var(--nav);
}

.steps {
    display: flex;            
    justify-content: center;   
    gap: 60px;  
    margin-top: 20px;
    text-align: center;

}

.step img {     
    height: auto;            
    border-radius: 10px;   
    justify-content: space-between;
    justify-content: space-around;
}


