@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --nav: #000080;
    --header: #0d1b2a;
    --ciano: #4fc3f7;
    --white: #fff;
    --black: #000;
    --data: #777;
    --gradienteAzul: linear-gradient(to right , #05008B, #0700D7);
    --gradienteCinza: linear-gradient(to right, #EFEFEF, #A3A3A3);
    --gradienteSaibamais: linear-gradient(to right, #64A8FB, #0700D9);

    --caixa: #E9E9E9;
    --cinza: #B5B4B4;

    --ff:'Poppins';
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--white);
    color: var(--black);
}

/* ---------- HEADER ---------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav);
    padding: 10px 40px;
    flex-wrap: wrap;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/*Menu mobile*/
#mobileMenu {
    position: absolute;
    top: 85px;
    right: 20px;
    width: 240px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1.2rem 1rem;
    opacity: 0;
    transform: translateY(-15px);
    background: var(--nav);
    z-index: 10;
}

#mobileMenu li {
    width: 100%;
    border-bottom: 1px solid #d1d5db;
    padding: 0.6rem 0;
}

#mobileMenu li:last-child {
    border-bottom: none;
}

#mobileMenu a:hover {
    border-bottom: none !important;
    transform: translateX(4px);
    text-decoration: none;
    color: var(--ciano);
}

/*quando o JS ativar*/
#mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    opacity: 1;
    transform: translateY(0);
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: var(--ciano);
}


nav a.ativo {
    color: var(--ciano);
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions input {
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}


/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--gradienteCinza);
    border-radius: 8px;
    padding: 3px 6px;
    cursor: pointer;
    transition: 0.3s;
}
  
.language-selector:hover {
    background: var(--gradienteSaibamais);
    color: var(--black);
    box-shadow: 0 2px 15px var(--white);
}
  
.lang-icon {
    font-size: 1.3rem;
    color: var(--black);
    transition: color 0.3s;
}
  
.language-selector:hover .lang-icon {
    background: transparent;
}
  
.lang-select {
    border: none;
    outline: none;
    background: transparent;
    font-weight: 600;
    color: var(--black);
    font-size: 0.95rem;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 6px;
    width: 60px;
}
  
.language-selector:hover .lang-select {
    color: var(--white);
}


.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--black);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--ciano);
}

.doar {
    background: var(--gradienteCinza);
    color: var(--black);
    border: none;
    border-radius: 20px;
    padding: 6px 40px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.doar:hover {
    background: var(--gradienteSaibamais);
    color: var(--white);
    box-shadow: 0 2px 15px var(--white);
}

/* ---------- HERO SECTION ---------- */
.hero {
    background: url('../img/banner.png') center/cover no-repeat;
    height: 70vh;
    position: relative;
}


/* ---------- DADOS SECTION ---------- */
.dados {
    background-color: var(--nav);
    color: var(--white);
    padding: 30px 15px;
    text-align: center;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
}

.item {
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 8px;
}

.item p {
    font-weight: 500;
    margin-bottom: 5px;
}

.item span {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--ciano);
}

.acao {
    background-color: var(--white);
    color: var(--nav);
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.acao:hover {
    background-color: var(--header);
    color: var(--white);
}

.Titulo {
    text-align:center;
    padding-top: 3%;
    
}

.texto {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: justify;
    font-size: 1.10rem ;

}


/* Equipe */
.equipe {
    padding: 80px 20px;
    background: rgb(255, 255, 255);
    text-align: center;
    font-family: var(--ff);
    color: var(--black);
    width: 100%;
    margin-bottom: -30px;
    border-radius: 5%;
    border-color: 3px var(--black);
}

.titulo-secao h2 {
    font-size: 2.8rem;
    color: var(--nav);
    margin-bottom: 10px;
}

.titulo-secao p {
    color: var(--black);
    font-size: 1.2rem;
    margin-bottom: 50px;
}

/* ===== FLEXBOX ===== */
.cards-equipe {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 40px;
    max-width: var(--max-width);
    margin: 0 auto;
}

/* ===== CARD ===== */
.card {
    background: var(--white);
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(33.333% - 40px); /*1 1 300px; */
    max-width: 380px;
    animation: fadeUp 0.8s ease forwards;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* ===== AVATAR ===== */
.avatar {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 3px solid var(--gradienteCinza);
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
}

/* ===== TEXTO ===== */
.card h3 {
    color: var(--black);
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card p {
    color: var(--black);
    font-size: 1rem;
    line-height: 1.6;
}

/* ===== IMAGENS ===== */
.membro1 .avatar {
    background-image: url('../img/ariel.enc');
}

.membro2 .avatar {
    background-image: url('../img/sabrina.enc');
}

.membro3 .avatar {
    background-image: url('../img/luan.enc');
}

.membro4 .avatar {
    background-image: url('../img/maju.enc');
}

/* ===== OVERLAY ===== */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(15, 26, 44, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}
  
.avatar:hover .overlay {
    opacity: 1;
}
  
/* ===== REDES SOCIAIS ===== */
.social {
    display: flex;
    gap: 14px;
}
  
.social a {
    color: var(--white);
    font-size: 1.4rem;
    width: 38px;
    height: 38px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
  
.social a:hover {
    background: var(--gradienteAzul);
    border-color: transparent;
    transform: scale(1.1);
}
  
.social a:hover ion-icon {
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

/* ===== ANIMAÇÃO DE ENTRADA ===== */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:nth-child(1) {
    animation-delay: 0.2s;
}

.card:nth-child(2) {
    animation-delay: 0.4s;
}

.card:nth-child(3) {
    animation-delay: 0.6s;
}

.card:nth-child(4) {
    animation-delay: 0.8s;
}


.rodape {
    background: var(--nav);
    color: var(--white);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.rodape-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo-area img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.logo-area h3 {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.links-centro ul,
.links-direita ul {
    list-style: none;
    padding: 20px;
}

.links-centro a,
.links-direita a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    margin: 5px 0;
    transition: 0.3s;
}

.links-centro a:hover,
.links-direita a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid var(--white);
    margin: 20px 0;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.redes-sociais img {
    width: 35px;
    height: 35px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}


/* ====== 1440px ====== */
@media (max-width: 1440px) {
    header {
        padding: 10px 40px !important;
        gap: 10px !important;
    }

    nav {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 30px;
    }

    .logo img {
    width: 50px !important;
    height: 50px !important;
    }

    .actions input {
        gap: 10px !important;
    }

    .language-selector {
        padding: 2px 4px !important;
    }
    
/* Rodapé */
.rodape {
    padding: 25px 30px;
}

.rodape-conteudo {
    gap: 30px;
}

.logo-area {
    padding: 10px;
}

.logo-area img {
    width: 55px;
    height: 55px;
}

}

/* ======= 1280px =======*/
@media (max-width: 1280px) {
header {
    padding: 10px 40px !important;
    gap: 10px !important;
}
nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}
}

/*====== 1024px ========*/
@media (max-width: 1024px) {

header {
    padding: 10px 20px !important;
    gap: 10px;
}

.logo {
    padding: 10px;
}

.logo img {
    height: 65px;
}

.navbar {
    display: none;
    list-style: none;
}


.navbar_toggle {
    display: block;
    color: var(--white);
    margin-top: 7px;
}

#mobileMenu {
    top: 105px;
    right: 10px;
}
.card {
    flex: 1 1 calc(100% - 1000px);
    max-width: 300px;
}

.cards-equipe {
    flex-wrap: wrap;
}

.rodape {
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
}

.logo-area img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.logo-area h3 {
    font-size: 0.9em;
}

.links-centro ul,
.links-direita ul {
    padding: 10px;
}

.links-centro a,
.links-direita a {
    font-size: 0.88em;
}

.redes-sociais {
    gap: 10px;
}
}

@media (max-width: 768px) {
    header {
        padding: 10px 10px !important;
    }

    #mobileMenu {
        top: 100px;
        right: 5px;
       font-size: 0.7rem;
       width: 200px;
    }

    .card {
        flex: 1 1 calc(50% - 40px);
        max-width: 300px;
    }

    .cards-equipe {
        flex-wrap: wrap;
    }

    .Titulo h1 {
        font-size: 1.4rem;
    }

    .texto p {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1px 10px !important;
    }

    .language-selector {
        width: 95px;
        height: 25px;
    }

    .lang-icon {
        font-size: 1rem;
    }

    .actions input {
        display: none;
    }

    .doar {
       padding: 5px 25px;
    }

    #mobileMenu {
        top: 80px;
        right: 5px;
       font-size: 0.7rem;
       width: 200px;
    }

    .titulo-secao h2 {
        font-size: 2.2rem;
    }

    .titulo-secao p {
        font-size: 1rem;
    }

    .card {
        padding: 10px 20px;
    }

    .avatar {
        width: 90px;
        height: 90px;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.8rem;
    }

    .rodape-conteudo {
       justify-content: center;
       margin-left: 55px;
      }

      .logo-area img {
        height: 40px;
        width: 40px;
        
      }

      .logo-area h3 {
        font-size: 0.8rem;
      }

      
    .links-centro ul,
    .links-direita ul {
           display: none;
    }
}

@media (max-width: 390px) {
    header {
        padding: 1px 5px !important;
    }

    .doar {
        padding: 5px 20px;
    }

    #mobileMenu {
        top: 80px;
        right: 5px;
       font-size: 0.6rem;
       width: 150px;
       height: 250px;
    }

    .titulo-secao h2 {
        font-size: 1.8rem;
    }

    .titulo-secao p {
        font-size: 0.9rem;
    }

    .avatar {
        width: 70px;
        height: 70px;
    }

    .cards-equipe {
        display: grid;
    }

    .card p {
        font-size: 0.7rem;
    }

    .texto p {
        font-size: 0.8rem;
    }

    .rodape {
        margin-top: -40px;
    }

}